[client]
port            = 3306
socket          = /tmp/mysql.sock

[mysqld]
ndbcluster
ndb-connectstring=192.168.50.141
user            = mysql
port            = 3306
# pid-file        = /usr/local/mysql/var/hostname.pid
socket          = /tmp/mysql.sock
basedir         = /usr/local/mysql
datadir         = /opt/data/mysql/data
log_error       = /var/log/loonyard/mysql_error.log
#tmpdir          = /tmp
#lc-messages-dir = /usr/local/mysql/share
#skip-external-locking
bind-address            = 0.0.0.0
#key_buffer              = 16M
#max_allowed_packet      = 16M
#thread_stack            = 192K
#thread_cache_size       = 8
#myisam-recover         = BACKUP
#query_cache_limit       = 1M
#query_cache_size        = 16M
#expire_logs_days        = 10
#max_binlog_size         = 100M
#[mysqldump]
#quick
#quote-names
#max_allowed_packet      = 16M

#[mysql]

#[isamchk]
#key_buffer              = 16M

[mysql_cluster]
ndb-connectstring=192.168.50.141

#!includedir /etc/mysql/conf.d/
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
